[submodule ".registry"]
	path = .registry
	url = https://github.com/matt-dray/matt-dray.r-universe.dev
	branch = HEAD
[submodule "badgr"]
	path = badgr
	url = https://github.com/matt-dray/badgr
[submodule "coloratio"]
	path = coloratio
	url = https://github.com/matt-dray/coloratio
[submodule "dialga"]
	path = dialga
	url = https://github.com/matt-dray/dialga
[submodule "gex"]
	path = gex
	url = https://github.com/matt-dray/gex
[submodule "ghdump"]
	path = ghdump
	url = https://github.com/matt-dray/ghdump
[submodule "pixeltrix"]
	path = pixeltrix
	url = https://github.com/matt-dray/pixeltrix
[submodule "quartostamp"]
	path = quartostamp
	url = https://github.com/matt-dray/quartostamp
[submodule "remorse"]
	path = remorse
	url = https://github.com/matt-dray/remorse
[submodule "snorkel"]
	path = snorkel
	url = https://github.com/matt-dray/snorkel
[submodule "tamRgo"]
	path = tamRgo
	url = https://github.com/matt-dray/tamRgo
[submodule "trapinch"]
	path = trapinch
	url = https://github.com/matt-dray/trapinch
